<div class="govuk-header">
  <div class="govuk-header__content">

    
      Agentic AI guidance
    

    <nav class="app-navigation">
      {{ '/' | relative_url }}>Home</a>
      {{ '/decision/' | relative_url }}>Start here</a>
      {{ '/patterns/' | relative_url }}>Patterns</a>
      {{ '/integration/' | relative_url }}>Integration</a>
      {{ '/security/' | relative_url }}>Security</a>
      {{ '/lifecycle/' | relative_url }}>Lifecycle</a>
      {{ '/principles/' | relative_url }}>Principles</a>
      {{ '/glossary/' | relative_url }}>Glossary</a>
    </nav>

  </div>
</div>

